@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #7E716D;
}


.bg-light-brown{
    background-color: #7E716D;
}
.bg-brown{
    background-color: #414144;
}
.color-light-brown{
    color: #7E716D;
}
.color-brown{
    color: #414144;
}
