@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #7E716D;
    font-family: 'Inter', sans-serif;
}


.bg-light-brown{
    background-color: #7E716D;
}
.bg-brown{
    background-color: #414144;
}
.color-light-brown{
    color: #7E716D;
}
.color-brown{
    color: #414144;
}
.color-white{color: #fcfcfc;}
.wrapword {
    width: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    white-space: pre-wrap
  }
  